@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #fffaf4;
  background-color: rgb(5, 0, 12);
}

@font-face {
  font-family: VoltEdge;
  src: url("./public/fonts/VoltEdge.ttf");
}

@font-face {
  font-family: JetBrainsMedium;
  src: url("./public/fonts/JetBrains Font/JetBrainsMono-Medium.ttf");
}
